<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <logger name="org.mybatis" level="DEBUG" />
    <logger name="org.apache.ibatis" level="DEBUG" />
    <logger name="org.h800570023.order.mapper" level="DEBUG" />


    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
